h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

/* Styles go here */

/* Layout styles */

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.block_1 {
	width: 100%;
	height: 45px;
	background-color: #9999ff;
}

.block_8 {
	width: 100%;
	height: 40px;
	background-color: #993399;
}

.background.block_9 {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 250px;
	background-color: #993366;
	margin-top: 85px;
	margin-bottom: 30px; 
}

.block_9 {
	height: auto;
	width: 250px;
	padding-bottom: 30px;
}

.background.block_5 {
	height: auto !important;
	padding-bottom: 0;
	right: 0;
	width: 150px;
	background-color: #996699;
	margin-top: 85px;
	margin-bottom: 30px; 
}

.block_5 {
	height: auto;
	width: 150px;
	padding-bottom: 30px;
}

.block_2 {
	width: 100%;
	height: 30px;
	background-color: #999999;
}



body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Layout */

/* div.container {
    width: 100%;
    border: 2px solid gray;
} */


nav {
    float: left;
    max-width: 500px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 150px;
    padding: 50px;
    text-align : left;
    overflow: hidden;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


/* Top nav */

body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .regone
  {
    float:left;
    width:4%;
  }
  .regtwo
  {
    float:right;
    width:45%;
  }
  
}